.App {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.App-header {
    background-color: #222;
    height: 70px;
    padding: 20px;
    color: white;
    grid-column: 1 / span 2;
}

.App-title {
    font-size: 1.5em;
}

.API-Keys {
    grid-column: 2;
    display: grid;
    grid-template-columns: 20% 80%;
}

.api-input {
    min-width: 12em;
    width: auto;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
